@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <h1 class="display-4">Hello!</h1>
    <p>Welcome to my digital portal, where I blend technology with simplicity to create user-friendly and secure web applications.</p> 
    <p>I'm dedicated to delivering innovative solutions that enhance efficiency and improve accessibility.</p> 
    <p>Explore the features I've developed, understand my commitment to digital accessibility, and see how my projects can transform your experience with technology.</p> 
    <p>Enjoy exploring and discovering the possibilities!</p>
    <p><strong>Pilar </strong></p>

</div>
